@charset "UTF-8";


*{
	box-sizing: border-box;
	padding :0px;
	margin : 0px;
}

#board{
	border:2px solid #f00;
	
	
	width:800px;
	margin:20px auto;
}

#board .frm_board label{
	display:inline-block;
	width:65px;
}

#board .frm_board input[name=subject]{
	width:450px;
}

#board .frm_board textarea{
	width:520px;
	height:200px;
	margin:4px 0;
}

#board .frm_board .attList{
	border:2px dotted #00f;
	width : 520px;
	height: 120px;
	margin:4px 0;
}

#board .btns{
	margin-left:220px;
}




/* list */
#board_list{
	width :800px;
	margin:20px auto;
	border:4px solid #ddd;
	border-radius:20px;
	padding:10px;
	box-shadow: 3px 3px 5px #ccc;
}

#board_list .frm_board_list{
	text-align: right;
}

#board_list .title{
	background-color:#aaa;
	padding :2px;
	color:#fff;
}

#board_list span{
	display: inline-block;
}

#board_list .sno{width: 90px;}
#board_list .subject{width: 350px;}
#board_list .nal{width: 140px;}
#board_list .id{width: 100px;}
#board_list .hit{width: 60px;}

#board_list .item:last-child{
	border-bottom:2px solid #aaa;
	margin:5px;
}

#board_list .item:hover{
	background-color: #aaa;
}

#board_list .btns{
	text-align: center;
}
#board_list .btns>button{
	border:0;
	border-radius: 15px;
	padding : 2px 4px;
	
}





/* modify */

#board_modify{
	border:2px solid #f00;
	
	
	width:800px;
	margin:20px auto;
}

#board_modify .frm_board label{
	display:inline-block;
	width:65px;
}

#board_modify .frm_board input[name=subject]{
	width:450px;
}

#board_modify .frm_board textarea{
	width:520px;
	height:200px;
	margin:4px 0;
}

#board_modify .frm_board .attList{
	border:2px dotted #00f;
	width : 520px;
	height: 120px;
	margin:4px 0;
}

#board_modify .btns{
	margin-left:220px;
}

/* view */

#board_view{
	border:2px solid #f00;
	
	
	width:800px;
	margin:20px auto;
}

#board_view .frm_board label{
	display:inline-block;
	width:65px;
}

#board_view .frm_board input[name=subject]{
	width:450px;
}

#board_view .frm_board textarea{
	width:520px;
	height:200px;
	margin:4px 0;
}

#board_view .frm_board .attList{
	border:2px dotted #00f;
	width : 520px;
	height: 120px;
	margin:4px 0;
}

#board_view .btns{
	margin-left:220px;
}

